<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Mapper.AirPortsMapper">

    <select id="selectCountry"  resultType="Country">
        select id ,countryName  from tb_country
    </select>
    <select id="selectCity" resultType="City">
        SELECT DISTINCT tb_city.id, tb_city.cityName
        FROM tb_city
                 INNER JOIN tb_country ON tb_city.countryId = tb_country.id
        WHERE tb_country.countryName = #{countryName};    </select>
    <select id="selectAir" resultType="Air" >
        select tb_air.id, tb_air.airName FROM tb_air INNER JOIN tb_city on tb_air.id = tb_city.id WHERE tb_city.cityName = #{cityName}
    </select>
</mapper>